.navbar{
	background-color:  #d6eaf8 ;
	font-family: 'Courier New', Courier, monospace;

}

.nav-link:active{
	color: red;
}

.fas{
	font-size: 23px;
}

.jumbotron{
	font-family: 'Courier New', Courier, monospace;
	margin: 10px 5px 10px;
	background-image: linear-gradient(
        to right,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );}

.card{
	font-family: 'Courier New', Courier, monospace;
	margin: 15px auto 15px;
	text-align: center;
	box-shadow: 2px 2px 4px gray;

}

.card-header{
	background-color: #d6eaf8 ;
}

.comp{
	color: green;
}

.uncomp{
	color: red;
}

.btn{
	background-color: lightcoral;
	padding: 10px 15px;
	text-align: center;
	color: darkslategray;

}

.btn:hover{
	background-color: red;
	color: black;
}

input[type=text], select {
	width: 100%;
	padding: 15px 20px;
	margin: 10px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#description {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: green;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}  

input[type=submit]:hover {
	background-color: lightgreen;
	color: black;
}
  
.formcard {
	font-family: 'Courier New', Courier, monospace;
	border-radius: 5px;
	background-color:  #d6eaf8 ;
	padding: 20px;
	margin: 15px auto 15px;
	box-shadow: 2px 2px 4px gray;

}